.profile-header {
    display: block;
    float: left;
}

.profile-summary {
    align-items: normal;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    min-height: 100px;
}

.profile-avatar {
    left: 0.38461538rem;
    position: absolute;
    top: 0;
    margin-right: 1em;
}

.ant-avatar {
    margin-right: 1em;
}