.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.film-title-lg {
  width: 150px;
  height: 225px;
  margin-bottom: 10px;
  float: left;
  cursor: pointer;
}

.film-title-sm {
  width: 70px;
  height: 105px;
  margin-bottom: 10px;
  float: left;
  cursor: pointer;
}

textarea {
  /* width: max-content; */
  width: 39em;
  height: 10em;
}

.landing-backdrop {
  height: 675px;
  /* left: 50%; */
  /* position: absolute; */
  width:100%;
  background-color: red;
  box-shadow: 0 0 8px 8px white inset;
  /* top: 0;
  transform: translateX(-50%);
  width: 1200px;
  z-index: 0; */
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 5em;
}